<!doctype html>
<html>
<head>
     <title>Heart Rate Monitor</title>
</head>
<body>
    <h2>Application to Store the Values of HeartSound</h2>
    <ol>
        <li>The Maximum Heart Rate is <%= maximumHeartRate %></li>
        <li>The Minimum Heart Rate is <%= minimumHeartRate %></li>
        <li>The Mean of all Heart Rate Values is <%= meanHeartRate %></li>
        <li>The Median of all Heart Rate Values is <%= medianHeartRate %></li>
    </ol>
</body>

</html>
